<div id="userFormArea" class="row">
	<div id="content-nav">
		<form id="userForm">
			<div class="form-group">
				<label>Create your room</label>
				<input type="text" id="room"><br/>
				<label>Nick name</label>
				<input type="text" class="form-control" id="nickname" required/>
				<input type="submit" class="btn btn-primary" value="login">
			</div>
		</form>
	</div>
</div>

<div id="MessageArea" class="row">
	<div class="col-md-4">
		<div class="well">
		<h3>Users</h3>
		<ul class="list-group" id="users"></ul>
	</div>
</div>
<div class="col-md-8">
	<div class="chat" id="chat"></div>
		<form id="messageform">
		<div class="form-group">
			<label>Start chat</label>
			<input type="text" class="form-control" id="message"/>
			<br/>
			<input type="submit" class="btn btn-primary" value="send message">
		</div>
		</form>
	</div>
</div>